@import url('https://fonts.googleapis.com/css?family=Dosis|Encode+Sans+Semi+Condensed|Exo+2');
  ion-tabs.tabshome>div.tabbar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207ce5+0,00358c+100 */
    background: #207ce5 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #207ce5 0%, #00358c 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #207ce5 0%,#00358c 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #207ce5 0%,#00358c 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#00358c',GradientType=0 ) !important; /* IE6-9 */  }

    .tab-button * {
        color: #c3f8ff !important;
        text-shadow:0px 0px 2px #00c4e0 !important;

    }


    .tab-button[aria-selected=true] * {
        color: white !important;
        text-shadow:0px 0px 2px #00c4e0 !important;

    }

.tab-button  .tab-button-text{

font-family:'Dosis', sans-serif !important;
text-transform: uppercase;
font-size: 1.5vh !important;
    transform: none !important;
  }
