<ion-header>

  <ion-navbar color="primary">
    <ion-title center>Case Edit</ion-title>
    <ion-buttons start>
      <button ion-button (click)="saveWiAttributes()">
        <span ion-text color="light">Save</span>
      </button>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light">Cancel</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list *ngFor="let item of wiAttributeList;let i=index">
  <ion-item-group [ngSwitch]="item.attribute.attributeTypeWebComponent">
  <ion-item *ngSwitchCase="webComponentTypeEnum.CALENDAR">
      <ion-label stacked color="primary" >{{item.attribute.name}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="item.value"></ion-datetime>
  </ion-item>
  <ion-item *ngSwitchCase="webComponentTypeEnum.CHECKBOX">
    <ion-label stacked color="primary" >{{item.attribute.name}}</ion-label>
    <ion-toggle [(ngModel)]="item.value" ></ion-toggle>
  </ion-item>
  <ion-item *ngSwitchCase="webComponentTypeEnum.SELECT">
  <ion-label stacked color="primary" >{{item.attribute.name}}</ion-label>
    <ion-select [(ngModel)]="item.value" [multiple]="false">
      <ion-option *ngFor="let itemSelect of item.comboValue" [value]="itemSelect.valueString">
        {{itemSelect.label}}
    </ion-option>
    </ion-select>
</ion-item>
<ion-item *ngSwitchCase="webComponentTypeEnum.INPUT">
  <ion-label stacked color="primary" >{{item.attribute.name}}</ion-label>
  <ion-input class="input input-ios" type="text" [(ngModel)]="item.value"></ion-input>
</ion-item>
<ion-item *ngSwitchCase="webComponentTypeEnum.INPUT_AREA">
    <ion-label stacked color="primary" >{{item.attribute.name}}</ion-label>
    <ion-textarea class="input input-ios" [(ngModel)]="item.value"></ion-textarea>
</ion-item>
</ion-item-group>

</ion-list>

</ion-content>
