<ion-header>

  <ion-navbar color="primary">
    <ion-title center>Case Images</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light">Cancel</span>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment [(ngModel)]="segmentSelected" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button [value]="segment.FORM">
      Upload Files
    </ion-segment-button>
    <ion-segment-button [value]="segment.LOCAL_FILES">
      Local Files
    </ion-segment-button>
    <ion-segment-button [value]="segment.REMOTE_FILES">
      Remote Files
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="segmentSelected">
      <div *ngSwitchCase="segment.FORM">

          <ion-item>
            <ion-label floating>Name:</ion-label>
            <ion-input type="text" [(ngModel)]="wiElementAttachment.name" name="Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Order:</ion-label>
            <ion-input type="number" [(ngModel)]="wiElementAttachment.order" name="Order"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Comments:</ion-label>
            <ion-input type="text" [(ngModel)]="wiElementAttachment.comments" name="Comments"></ion-input>
          </ion-item>
          <ion-item *ngIf="imageData">
            <img [src]="imageData  | imageString"/>
          </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block icon-lef
                      (click)="showGallery()">
                <ion-icon name="gallery"></ion-icon>
                Select
              </button>
            </ion-col>
            <ion-col>
              <button ion-button block icon-left
                      (click)="showCamera()">
                <ion-icon name="camera"></ion-icon>
                Camera
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button block icon-center (click)="saveFile()">
                Save
              </button>
            </ion-col>

          </ion-row>

        </ion-grid>


    </div>
    <div *ngSwitchCase="segment.LOCAL_FILES">

      <ion-grid>
        <ion-row *ngFor="let w of wiElementAttachmentList| async">
          <ion-col>
            <img [src]="w.file | imageString" *ngIf="w.file"/>
            <p *ngIf="w.name">
              Name: {{w.name}}
            </p>
            <p *ngIf="w.order">
              Order: {{w.order}}
            </p>
            <p *ngIf="w.comments">
              Comments: {{w.comments}}
            </p>
            <p>
              Synced: {{w.synced}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  <div *ngSwitchCase="segment.REMOTE_FILES">

    <ion-grid>
      <ion-row *ngFor="let r of wiElementAttachmentRemote| async">
        <ion-col *ngIf="r.isImage">
          <img [src]="r.wiElementAttachmentId | trackerImages"/>
          <p *ngIf="r.name">
            Name: {{r.name}}
          </p>
          <p *ngIf="r.order">
            Order: {{r.order}}
          </p>
          <p *ngIf="r.comments">
            Comments: {{r.comments}}
          </p>
        </ion-col>
        <ion-col *ngIf="!r.isImage">
          <ion-icon name="document" (click)="downloadFile(r)">{{r.filename}}</ion-icon>
          <p *ngIf="r.name">
            Name: {{r.name}}
          </p>
          <p *ngIf="r.order">
            Order: {{r.order}}
          </p>
          <p *ngIf="r.comments">
            Comments: {{r.comments}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>

</ion-content>
